<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gimel.js is a Free & Open-Source Javascript Library for easy DOM Manipulation & Effects">
    <title>{{ page.title }} - Gimel.js</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
      <div class="container-fluid p-0">
        {{ content }}
        {% include footer.html %}
      </div>
    <script src="/assets/js/gimel.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>